<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form #myForm="ngForm">
                <div class="mb-3">
                    <label for="exampleInputEmail1">Tên danh mục</label>
                    <input type="text" class="form-control" name="catName" placeholder="Nhập tên danh mục..."
                        [(ngModel)]="objCat.catName">
                </div>
                <div class="mb-3">
                    <button type="submit" (click)="addNewCategory(myForm.value)" class="btn btn-primary" *ngIf="!checkAction">Thêm
                        mới</button>
                    <button type="submit" (click)="udapteCategory(myForm.value)" class="btn btn-primary" *ngIf="checkAction">Cập
                        nhật</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên danh mục</th>
                        <th scope="col">Action</th>
                    </tr>
                    <tr *ngFor="let itemCat of dataCate">
                        <td>{{itemCat.id}}</td>
                        <td>{{itemCat.catName}}</td>
                        <td>
                            <button class="btn btn-warning"  type="button" (click)="editCat(itemCat)">Sửa</button>
                            |
                            <button class="btn btn-danger" type="button" (click)="deleteCat(itemCat)" >Xóa</button>
                        </td>
                    </tr>
                </thead>

            </table>

        </div>
    </div>
</div>